
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

#wrapper {
    width: 100%;
    margin-top: 0;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;

}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1050px;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
    padding:0;
}

.sidebar-collapse > .nav > li > a {
    padding:15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}
.sidebar-collapse > .nav > li {
    border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

    background:#F3F3F3;
    outline:0;
}

.navbar-side {
    border:none;
    background-color: #fff;

}
.navbar-inverse {

    background-color: #214761;
    border-color: #F0F0F0;
    min-height: 80px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin:20px;
    margin: 10px 25px 10px 50px;
}
.logout-spn a {
    text-decoration:none;
}
.active-link {
    background-color:#f3f3f3;
}

/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;

}

.div-square> a,.div-square> a:hover {
    color:#808080;
    text-decoration:none;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#214761;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
    padding-left:20px;
}


.footer > a, .footer>a:hover {

    color:#fff;
}
th {
    text-align: center;
}

td img.thumbnail{ margin-bottom: 0; }
.logo { height: auto; padding: 0; }
.navbar-nav > li > a { line-height: 35px; }
.logo img { padding: 5px 0; }
body.guest-user{ background: url('../images/Background.png'); }
.login-page .panel.panel-default { opacity: 0.65; margin-top: 16%; border-radius: 28px;}
.login-page { height: 583px; }
.login-page .panel-heading { border-bottom: 0 none; text-align: center; background-color: transparent;}
.login-btn span { background-image: url("../images/LoginButton.png"); background-size: cover; background-repeat: no-repeat; display: block; height: 35px; width: 120px; }
.login-btn { background-color: transparent; border: 0 none; padding: 0;}
.login-page input.form-control { background-color: transparent; border-color: -moz-use-text-color -moz-use-text-color #7c7c7b; border-left: 0 none; border-radius: 0; border-right: 0 none; border-top: 0 none; border-width: 0 0 2px; box-shadow: none; }
.login-page .btn-link { float: right; }
.left-sidebar li{ background-position: 12px 18px; background-repeat: no-repeat; padding-left: 30px; }
.users-icon { background-image: url("../images/UsersIcon.png"); }
.groups-icon{ background-image: url("../images/GroupIcon.png"); }
.group-media-icon{ background-image: url("../images/GroupMediaIcon.png"); }
.direct-media-icon{ background-image: url("../images/DirectMedia.png"); }
.global-message-icon{ background-image: url("../images/GlobalMessage.png"); }
.sidebar-collapse .nav.left-sidebar > li > a:hover, .sidebar-collapse .nav.left-sidebar > li > a:focus { background: transparent none repeat scroll 0 0; }
.nav.left-sidebar li a { padding-left: 24px; }
.nav.left-sidebar li a i { color: rgb(21, 171, 109); float: right; font-size: 18px; margin-top: 6px; }
.footer { background-color: #15ab6d; text-align: center; }
hr { border-color: #15ab6d; }
.modal-header { background-color: #2AB27A; color: #fff }
.yarding-error-alert { color: red; font-size: 12px; font-weight: bold; padding: 0 10px; }



    /*==============================================
        MEDIA QUERIES     
        =============================================*/

    @media(min-width:768px) {
        #page-wrapper{
            margin: 0 0 0 260px;
            padding: 15px 30px;
            min-height: 1050px;

        }


        .navbar-side {
            z-index: 1;
            position: absolute;
            width: 260px;

        }


    }


